<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.haxe.extension.crashlytics" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7720d1021a8f0a648801159b6d204a68a7d38bfe" />

    </application>

</manifest>
